body {
    background-color: rosybrown;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgIBwcHCAcHBwcHBwoHBwcHBw8ICQcKFREiIhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDjcZFRkrKysrKysrKy0rKysrKysrKysrKystKysrKysrKysrKysrLSsrKysrKysrKysrKysrK//AABEIALwBDAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAVEAEBAAAAAAAAAAAAAAAAAAAAEf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgQF/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/ANPAbjngCACCgCAAAAgAAICKAAKgCgKgAAAoKgCiKoAKgAAAgCAoAgAAAIAIgACgCAAAAAqCiiKIAKACgACiKoACCAKAIACAAACIoAAAgAAAAAAAAAKKIoACoAAAKCoKACAAgAAICKAAAIAAAKoIoCAAAIAAACiiAKAqAAACgAgAIIAKAIAAAAAKoACACgAggAoAgAAAKKIAoCoAAAiAAKAIAAACgCgAKgAAAoAICKIIKgoAAAgAAAKKIoiACgCAAAAoKAACoAAAKAAAAACAACCiKgAACAAAAoAIAAAKoACACgAoAAKCgACCoAAgAIAACKIIAKAIAAACgCgAKgAAAoAAKCgAIAKACAigqAIAAACAAggqCgCCiCigAAKgAUAFoogUUSrVqACgAAAlASlBUBKoAUAEoAIAIKqACgLEEUSCCgqCgAgCiAKAVABaABQAKAIlFEBVEUEFAQUIIoEQAWCgMohEihBBRIqCoQAEgAEBFEVBQEBQQUAAEAFgAEAUWCChESLAWAAo/9k=);
    }
    label{
        font-size: 2em;
    }
    input {
        width: 50%;
    }
    